<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>草稿箱</title>
    <link rel="stylesheet" href="../static/css/yxy/draftsPage.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
</head>
<body>
<!-- 弹窗 -->
<div class="chooseCover">
    <div class="tip">
        <p class="tipText">确定要删除吗</p>
        <div class="choose">
            <button class="tipNo">取消</button>
            <button class="tipOk">确定</button>
        </div>
    </div>
</div>
<div class="sureCover">
    <div class="successTip">
        <p class="successText">删除成功！</p>
        <button class="successOk">确定</button>
    </div>
</div>
    <div class="nav">
        <i class="fa fa-gg" aria-hidden="true"></i>未来草稿箱<i class="fa fa-gg" aria-hidden="true"></i> 
        <button id="back_history" onclick="window.history.go(-1);">
            <i class="fa fa-reply-all" aria-hidden="true"></i>
        <btton>
    </div>
        <div class="content">
            <div class="handle">
                <div class="findBox">
                    <input class="findDraft" placeholder="请输入草稿标题"/>
                    <button class="findBtn">搜索</button>
                </div>
                <button class="allChoose">全选</button>
                <button class="cancelAll">取消全选</button>
                <button class="massDelete">批量删除</button>
                <button class="reset">重置</button>
            </div>
            <div class="empty">
                <div class="emptyBox">
                    <i class="fa fa-wpforms" aria-hidden="true"></i>
                    <p>暂无草稿</p>
                </div>
            </div>
            <ul class="list">
                <!-- <li class="draftItem">
                    <input type="checkbox" class="check"/>
                    <div class="itemContent">
                        <div class="title">你好啊</div>
                        <div class="lastTime">上次修改的时间：<span class="time">2022/5/15/10:48</span></div>
                    </div>
                    <div class="itemHandle">
                        <button class="itemDelete">删除</button>
                        <button class="itemChange">修改</button>
                    </div>
                </li>
                <li class="draftItem">
                    <input type="checkbox" class="check"/>
                    <div class="itemContent">
                        <div class="title">你好啊</div>
                        <div class="lastTime">上次修改的时间：<span class="time">2022/5/15/10:48</span></div>
                    </div>
                    <div class="itemHandle">
                        <button class="itemDelete">删除</button>
                        <button class="itemChange">修改</button>
                    </div>
                </li>
                <li class="draftItem">
                    <input type="checkbox" class="check"/>
                    <div class="itemContent">
                        <div class="title">你好啊</div>
                        <div class="lastTime">上次修改的时间：<span class="time">2022/5/15/10:48</span></div>
                    </div>
                    <div class="itemHandle">
                        <button class="itemDelete">删除</button>
                        <button class="itemChange">修改</button>
                    </div>
                </li>
                <li class="draftItem">
                    <input type="checkbox" class="check"/>
                    <div class="itemContent">
                        <div class="title">你好啊</div>
                        <div class="lastTime">上次修改的时间：<span class="time">2022/5/15/10:48</span></div>
                    </div>
                    <div class="itemHandle">
                        <button class="itemDelete">删除</button>
                        <button class="itemChange">修改</button>
                    </div>
                </li>
                <li class="draftItem">
                    <input type="checkbox" class="check"/>
                    <div class="itemContent">
                        <div class="title">你好啊</div>
                        <div class="lastTime">上次修改的时间：<span class="time">2022/5/15/10:48</span></div>
                    </div>
                    <div class="itemHandle">
                        <button class="itemDelete">删除</button>
                        <button class="itemChange">修改</button>
                    </div>
                </li>
                <li class="draftItem">
                    <input type="checkbox" class="check"/>
                    <div class="itemContent">
                        <div class="title">你好啊</div>
                        <div class="lastTime">上次修改的时间：<span class="time">2022/5/15/10:48</span></div>
                    </div>
                    <div class="itemHandle">
                        <button class="itemDelete">删除</button>
                        <button class="itemChange">修改</button>
                    </div>
                </li> -->
            </ul>
            <div class="page">
                <span class="lastPage"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
                <span class="pageNum">10</span>
                <span class="line">/</span>
                <span class="allPage">12</span>
                <span class="nextPage"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                <div class="searchPageBox">
                    <input class="searchPage" type="text" placeholder="请输入页数"/>
                    <button class="sure">前往</button>
                </div>
            </div>
        </div>
    <script src="../static/js/jquery-3.6.0.js"></script>
    <script src="../static/js/yxy/draftsPage.js"></script>
</body>
</html>