<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>介绍页面</title>
</head>
<script src="../../static/js/jquery-3.6.0.js"></script>
<link rel="stylesheet" href="../../static/css/zyt/instruction.css">
<link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
<script src="../../static/js/zyt/instruction.js"></script>
<body>
    <div class="instruction">
        <div class="instruction_wrap">
            <div class="instruction_video">
                <div class="text">未来可期 </div>
                <video style="width:100%; height:400px; object-fit: fill"  src="../../static/img/zyt/潮点网_83855.mp4" autoplay="autoplay" muted="muted"></video>
                <div class="search">
                    <input type="text" class="search_input" placeholder="请进行搜索...">
                    <div class="search_btn"><i class="fa fa-search" aria-hidden="true" id="icon"></i></div>
                </div>
                <div class="arrow"><i class="fa fa-arrow-circle-o-down" aria-hidden="true" id="bottom_arrow" style="width: 50px;height: 50px"></i> </div>
            </div>
            <div class="show">小组风采</div>
            <div class="flex">
                <div class="item">
                    <img src="../../static/img/zyt/QQ截图20220505194118.png" alt="">
                    <div class="item_text">王泽政</div>
                </div>
                <div class="item">
                    <img src="../../static/img/zyt/QQ截图20220505223735.png" alt="">
                    <div class="item_text">杨赛雅</div>
                </div>
                <div class="item">
                    <img src="../../static/img/zyt/QQ截图20220505223716.png" alt="">
                    <div class="item_text">刁星辰</div>
                </div>
                <div class="item">
                    <img src="../../static/img/zyt/QQ截图20220505215737.png" alt="">
                    <div class="item_text">姚欣瑶</div>
                </div>
                <div class="item">
                    <img src="../../static/img/zyt/QQ截图20220505220306.png" alt="">
                    <div class="item_text">李世薇</div>
                </div>
                <div class="item">
                    <img src="../../static/img/zyt/QQ截图20220505220514.png" alt="">
                    <div class="item_text">周雨婷</div>
                </div>
            </div>



        </div>
    </div>
    

</body>

</html>