<!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" href="static/img/wzz/newicon.png" type="image/vnd.microsoft.icon">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>轮播图</title>
    <link href="../static/css/zyt/lunbo.css" rel="stylesheet"/>
    <script src="../static/js/zyt/js/lunbo.js"></script>
    <script src="../static/js/jquery-3.6.0.js"></script>
</head>
<body>
    <div class="wrap">
        <div class="container">
                <ul class="bigList">
                    <li class="item active"><img src="static/img/zyt/QQ截图20220504200240.png" alt=""></li>
                    <li class="item"><img src="static/img/zyt/QQ截图20220504200140.png" alt="" srcset=""></li>
                    <li class="item"><img src="static/img/zyt/QQ截图20220504200935.png" alt="" srcset=""></li>
                    <li class="item"><img src="static/img/zyt/QQ截图20220504200214.png" alt=""></li>
                    <li class="item"><img src="static/img/zyt/QQ截图20220427085421.png" alt=""></li>
                    <li class="item"><img src="static/img/zyt/QQ截图20220427085525.png" alt=""></li>
                    <li class="item"><img src="static/img/zyt/QQ截图20220504200810.png" alt=""></li>
                    <li class="item"><img src="static/img/zyt/QQ截图20220504200527.png" alt=""></li>
                
                </ul>
                <ul class="pointList">
                    <li class="point active" data-index='0'></li>
                    <li class="point" data-index='1'></li>
                    <li class="point" data-index='2'></li>
                    <li class="point" data-index='3'></li>
                    <li class="point" data-index='4'></li>
                    <li class="point" data-index='5'></li>
                    <li class="point" data-index='6'></li>
                    <li class="point" data-index='7'></li>
                </ul>
            <!-- 左边按钮 -->
            <a href="javascript:;" class="arrow" id="goPre"> &lt; </a>
            <!-- 右边按钮 -->
            <a href="javascript:;" class="arrow" id="goNext"> &gt; </a>
            <div class="praise">向英雄们敬礼</div>
        </div>	
    </div>		
</body>
</html>




































