<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.skynews.dao.ReviewsMapper">

    <!-- 注意写好功能后，把mapper绑定到mybatis-config.xml中去 -->

    <!--添加子评论-->
    <insert id="addReviews" parameterType="Reviews">
      insert into tosky.reviews(commentID,userID,contain)
      values (#{commentID}, #{userID},#{contain})
   </insert>

    <!--展示某个帖子下所有评论-->
    <select id="queryAllReviews" resultType="Reviews">
      SELECT * from tosky.reviews where commentId=#{commentID} order by reviewsID desc
   </select>

    <!--删除子评论-->
    <delete id="deleteReviews" parameterType="int">
      delete from tosky.reviews where reviewsID=#{reviewsID}
   </delete>

</mapper>